h1 Parties#edit

div#map

input#searchbox type='text'

javascript:
  $('document').on('page:load', init_map_place_selection)
  $('document').ready(init_map_place_selection)
  $(document).on('page:load', function(){window['rangy'].initialized = false})

=semantic_form_for @party do |f|
  =f.inputs :title, :type, :date
  =f.inputs do
    =f.input :summary, :as => wysihtml5
  /temp
  =f.inputs :coord_latitude, :coord_longitude, hidden: true
  =f.actions
  
