// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#map
{
	height: 100%;
}

.map-container
{
	position: fixed;
	top: 76px;
	right: 0;
	height: 100%;
	width: 75%;
}

input#searchbox
{
	width: 40%;
	font-size: 14pt;
	margin-right: 5px;
}
