// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#map
{
	height: 100%;
}

.map-container
{
	position: fixed;
	top: 76px;
	right: 0;
	height: 100%;
	width: 75%;
}

input#searchbox
{
	width: 100%;
	font-size: 14pt;
}

div#searchdiv
{
	margin: 5px;
	width: 40%;
}

#btns_prty_ed{
  margin: 5px;
	background-color:#FEC63D;
	border: 5px solid #FEC63D;	
  font-size: 12pt;
  color:white;
  padding:0;
  width:150px;
}
#btns_prty_ed:hover{
  border: 5px solid #F0B000;
	background-color:#F0B000;
}

#btns_prty_ed a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}
#btns_prty_del{
  margin: 5px;
	background-color:#B22222;
	border: 5px solid #B22222;	
  font-size: 12pt;
  color:white;
  padding:0;
  width:150px;
}
#btns_prty_del:hover{
  border: 5px solid #B20000;
	background-color:#B20000;
}

#btns_prty_del a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}
#btns_prty_can{
  margin: 5px;
	background-color:#B22222;
	border: 5px solid #B22222;	
  font-size: 12pt;
  color:white;
  padding:0;
  width:310px;
}
#btns_prty_can:hover{
  border: 5px solid #B20000;
	background-color:#B20000;
}

#btns_prty_can a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}
#btns_prty_full{
  margin: 5px;
	background-color:#2A9E0C;
	border: 5px solid #2A9E0C;	
  font-size: 12pt;
  color:white;
  padding:0;
  width: 310px;
}
#btns_prty_full:hover{
  border: 5px solid #209000;
	background-color:#209000;
}

#btns_prty_full a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.textBold{
  font-weight: bold;
}
.btns_100{
width:100%;
}
.btns_center{
margin: auto;
left:0px;
right:0px;
}
#minimap{
width:100%;
}
.MapBox{
width:300px;
margin-left:-5px;
}
.CenTex{
text-align:center;
}
