// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin20bot{
  margin-bottom:20px;
}
.margin15bot{
  margin-bottom:15px;
}
.margin10bot{
  margin-bottom:10px;
}
.margin5bot{
  margin-bottom:5px;
}

.margin20top{
  margin-top:20px;
}
.margin15top{
  margin-top:15px;
}
.margin10top{
  margin-top:10px;
}
.margin5top{
  margin-top:5px;
}

#editProfile, #editAva, #creatParty{
	background-color:#FEC63D;
	border: 5px solid #FEC63D;	
  padding: 0;
  width: 100%;
  font-size: 12pt;
  color:white;
}
#editProfile:hover, #editAva:hover, #creatParty:hover{
  border: 5px solid #F0B000;
	background-color:#F0B000;
}

#editProfile a, #editAva a, #creatParty a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}
#StartSurf{
  width: 100%;
	background-color:#2A9E0C;
	border: 5px solid #2A9E0C;	
  padding: 0;
  font-size: 20pt;
  color:white;
}
#StartSurf:hover{
	background-color:#209000;
	border: 5px solid #209000;	
}

.ava{
  width:100%;
  background-color:black;
  margin-bottom:10px;
}

.avatar, .miniavatar{
  width:100%;
}
.miniava{
  width:40px;
  margin-right:10px;
}
.BlackBox{
  padding: 0;
  width:100%;
  color: #232323;
  border: 2px solid #232323;
  background-color:#232323;
  font-size: 15pt;
  color:white;
  margin-bottom:5px;
}
.WhiteBox{
  width:100%;
  color: #FFFFFF;
  background-color:#FFFFFF;
  font-size: 15pt;
  color:black;
  margin-bottom:5px;
  border: 2px solid #232323;
  padding:5px;
}
.textCenter{
  text-align: center;
}
.iconsPlace{
  height:32px;
}
.icons{
  height:100%;
margin-right:20px;
}
.wall{
}
.message{
  padding:10px;
}
#comment_comment{
width:100%;
resize:none;
}
.fl{
position: relative;
float:left;
}
.fr{
position: relative;
float:right;
}
.fn{
position: relative;
float:none;
}
.AvaCol{
display:table-cell;
position: relative;
left:0;
width:40px;
height:100%
}
.MessageCon{
display:table-cell;
}
.MessageConParty{
display:table-cell;
width:250px;
word-wrap: break-word;
}
.RightBottomWall{
width: 450px;
height: 30px;
}
.RightBottomWallParty{
width: 290px;
height: 30px;
}
.margin20top{
margin-top:20px;
}
.margin10top{
margin-top:10px;
}
